/* General Definitions */




html * {
  font-family: lato, arial, sans-serif;
}

@font-face {
  font-family: cocogoose;
  src: url(fonts/Cocogoose_trial.otf);
}

@font-face {
	font-family: lato;
	src:url(fonts/Lato-Regular.ttf);
}


a:hover,
a:link,
a:active,
a:visited {
  color: currentcolor;
  text-decoration: none;
}

h1,h2{
	font-family: cocogose;
	color: #EC5242;
	margin-bottom:7px;
}

h1{
	font-size: 35px;
	text-transform: uppercase;
}

h2{
	font-size:32px;
	font-weight:500;
}

h3{
	font-size: 20px;
	text-align: center;
}

h4{
	font-size: 18px;
	
}



section{
	padding-left: 35px;
	padding-right:35px;
	padding-top: 50px;
}

h3::after{
	content:"";
	display: block;
	width: 50px;
	height:0px;
	border-top: solid red 1px;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 3px;
}


/* Header */

nav {
	position: relative;
}

.menu-bars {
	width: 30px;
	height:30px;
	margin-left:20px;
	margin-top: 15px;
}



nav div.menu-items{
	display: none;
}


nav div.nav-menu-wrapper:target{
	display: none;
}

nav div.menu-items:target{
	display: flex;
}

.menu-items{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: -15px;
	z-indez:10;
	background-color: white;
	border: solid 2px;
	margin: 0;
	width: 250px;
	justify-content: center;
	align-items: center;
	
}


nav .times-icon{
	width: 15px;
	align-self: end;
	margin: 15px;
}


nav .logo {
	display: none;
}

.media-links {
	order:1;	
	border-top: solid 1px #ec2542;
}

.menu-items .media-links li, .menu-items .about-links li{
	margin: 15px 0;
}

.menu-items .media-links, .menu-items .about-links, .menu-items .about-items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width:768px){
	
	
 .menu-bars, .times-icon {
	 display: none; 
 }

  nav .logo {
	 display: block;
	 width: 78px; 
 }
 
nav div .menu-items{
	display: flex;
	flex-direction: column;
	width: 100%;
	position: static;
}


.menu-items .media-links, .menu-items .about-links, .menu-items .about-items{	
	flex-direction: row;
	
}


.menu-items .media-links {
	 order:0;
	 flex-direction: row;
	 border: none;
	 height: 30px;
	 margin-top: 0;
	 margin-bottom: 0;
	 justify-content: end;
	 background-color: #3e3e3e;
	 width: 100%;
	 padding-right: 200px;
 }


.menu-items .about-links {
	 order: 1; 
	 flex-direction: row;
	 margin-top: 0;
	 height: 65px; 
	 align-items: center;
	 margin:0;
	 width: calc(100% - 200px);
	 justify-content: space-between;

	 
 }
 
 .media-links > li{
	 margin: 5px;;
	 display: flex;
	 align-items: center;
	 color: white;
	 font-weight: 700;
	 padding: 0;
 }
 
 .media-links > .facebook-icon, .media-links > .instagram-icon {
	background-color: white;
 }
 
 
 .menu-items .media-links li, .menu-items .about-links li{
	 margin: 10px;
 }

	.menu-items .register{
	border: solid red; 
	padding: 7px;
}

	
}



/* Presentation section */

main{
	margin-top: -48px;
	
}


.presentation{
	background-image: url(images/people-1500.jpg);
	background-position: top left -408px;
	background-repeat: no-repeat;
	padding-top: 135px;
	background-color: #d3d3d3;
	padding-bottom: 50px;
	
	
}



h1.title{
	background-image: url("images/lion-3.jpeg");
	background-position: bottom 0 right 0 ;
	background-repeat: no-repeat;
	background-clip:text;
	background-size: cover;
	color: transparent;
	line-height:35px;
	margin-top: 0;
	
}


.advice{
	width:100px;
	float: right;
}

 
 .congress-description p {
	  border: solid 4px white;
	  padding: 15px;
	 
	  
 }
 

 .date, .place{
	 color: black;
	 font-weight: bold;
	 margin-left: 20px;
 }
 
 .place{
	 font-size:20px;
 }
 
 
 test{
	height: 120px;
	background-image: url(images/people-1500.jpg);
	border: solid;
	margin: 15px;
	background-position: bottom;
	background-repeat: no-repeat;
	
 }
 
@media (min-width:768px)
{
	
	main{
		margin-top: 0;
	}
  
  h1.title{
	 font-size:50px;
	 line-height: 55px;
	 max-width: 680px; 
 }

.congress-description p{
	max-width: 900px;
	font-size: 16px;
	
} 
 
}

@media (min-width:1300px){
	
	.presentation {
		
		background-position: top left;
	}
	
@media (min-width:1500px){
	
	.presentation {
		background-size: 100vw;
	}
	
	h2.how-big{
		border: solid yellow;
		margin-top:30px;
	}
	
}
	
	
	

}

/*Main program*/

.main-program{
	background-image: url(images/animals-1.jpg);	
	background-size: 50px;
	padding: 0;
}

.main-program .title, .main-program .events p {
	color: white;
}


.main-program .events li{
	margin-left: 18px;
	margin-right: 18px;
	margin-bottom: 14px;
	position: relative;
	z-index:1;
	padding: 15px;
	display: flex;
	align-items: center;
}

.main-program .events li::before{
	content:"";
	position: absolute; 
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white; 
	z-index:-1;
	opacity: .3;
}

.main-program .events .title{
	color: #ec5242;
}

.main-program .events li img{
	margin: 0 13px;
	width: 40px;
}

.main-program .events li .logo img{
	width: 60px;
	margin-right: -6px;
}

.main-program .events li > .title{
	min-width: 80px;
	margin: 0 13px;
}

.main-program .events li > p{
	margin: 0 13px;
}

@media (min-width:768px){

.main-program .events {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main-program .events li {
	flex-direction: column;
	margin:2px;
	max-width: 200px;
	width: 20%;
	text-align: center;
}

.main-program .events li > *, .main-program .events li > p {
	margin: 15px 0;
	
}

.main-program .events li img {
	display: flex; 
	margin: 0;
	flex-direction: column;
	justify-content: center;
	height: 45px;

}



}



